:root {
  --color-seaweed: #08738d;
  --color-red: #ff5a5f;
  --color-black: #3c3c3c;
  --color-white: #f5f5f5;
  --color-lavendar: #c1839f;
  --color-light-blue: #ada7c9;
  color: var(--color-black);
  line-height: 1.6;
}
.App {
  text-align: center;
  background-color: var(--color-white);
}
.bg-seaweed {
  background-color: var(--color-seaweed);
}
.bg-red {
  background-color: var(--color-red);
}
.bg-black {
  background-color: var(--color-black);
}
.bg-white {
  background-color: var(--color-white);
}
.bg-lavendar {
  background-color: var(--color-lavendar);
}
.bg-light-blue {
  background-color: var(--color-light-blue);
}
.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

h1,h2,h3 {
  color: var(--color-seaweed);
}
h1 {
  margin-top: 0;
  margin-bottom: 8px;
}
a {
  color: var(--color-lavendar);
}
p {
  color: var(--color-black);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Global */
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.pg-max-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 1280px){
  .pg-max-width {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* NavBar */
.nav-bar {
  height: 60px;
  position: sticky;
  top:0;
  left:0;
}
.nav-content,
.nav-left,
.nav-right {
  display: flex;
}
.nav-left,
.nav-right {
  width: 50%;
  align-items: center;
}

.nav-content {
  height: 100%;
  justify-content: center;
}
.nav-left {
  justify-content: flex-start;

}
.nav-right {
  justify-content: flex-end;

}
.nav-content a {
  color: var(--color-black);
  text-decoration: none;
}

/* Hero */

.hero-section img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.hero-content {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;
  text-align: start;
}
.hero-content > div {
  display: flex;
  align-items: center;
}
.hero-text {
  max-width: 600px;
}
.hero-text h1 {
  font-size: 2rem;
}
/* Details Section */
.details-section > div {
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.details-section .detail-item {
  text-align: center;
}
.detail-item img {
  height: 50px;
  width: 50px;


}
@media(max-width: 1280px){
  .details-section > div {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 60px;
  }
}
@media(max-width: 767px){
   .details-section > div {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
  }
  .details-section .detail-item {
    text-align: left;
  }
}
/* Button */
.my-btn {
  color: white;
  width: fit-content;
  padding: 16px;
  border-radius: 12px;
  font-weight: 800;
}

/* Shelf */
.shelf-display > div {
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

/* Shelf Item */

.shelf-ingredient {
  background-color: #d0ccdf;
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;

}
.shelf-ingredient .image-wrapper {
  background-color: var(--color-white);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}
.shelf-ingredient h3 {
  text-transform: capitalize;
}
.shelf-ingredient img {
  width: 100px;
}